<div class="card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" style="width: 18rem;">
  <a href="<%=url%>">
    <img class="card-img-top" src="<%=thumbnailUrl%>" alt="Card image cap">
  </a>
  <div class="card-body">
    <h5 class="card-title"><%=title%></h5>
    <p class="card-text">Duration: <%=duration%></p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <a class="card-button-target" download>
	    <button class="card-button btn btn-primary" type="button" class="btn btn-primary">Download</button>
	</a>
  </div>
</div>